<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE package SYSTEM "http://pear.php.net/dtd/package-1.0">
<package version="1.0">
  <name>eSystem</name>
  <summary>Extended system command for PHP</summary>
  <description>PEAR's eSystem:: package support various system mapping command.</description>
  <maintainers>
    <maintainer>
      <user>oops</user>
      <name>JoungKyun.Kim</name>
      <email>http://www.oops.org</email>
      <role>lead</role>
    </maintainer>
  </maintainers>
  <release>
    <version>0.6</version>
    <date>2007-02-20</date>
    <license>PHP/BSD</license>
    <state>devel</state>
    <notes>- fixed one line result parsing error on _system function
- fixed previous garbage value problem on _system function
- add file_nr function
- add printe_f function
- add print_s function
- fixed wordwrap function bug when msg is only one line
</notes>
    <filelist>
      <file role="php" md5sum="@eSystem.php@" name="eSystem.php"/>
      <file role="php" md5sum="@eSystem/filesystem.php@" name="eSystem/filesystem.php"/>
      <file role="php" md5sum="@eSystem/getopt.php@" name="eSystem/getopt.php"/>
      <file role="php" md5sum="@eSystem/man.php@" name="eSystem/man.php"/>
      <file role="php" md5sum="@eSystem/print.php@" name="eSystem/print.php"/>
      <file role="php" md5sum="@eSystem/system.php@" name="eSystem/system.php"/>
    </filelist>
  </release>
  <changelog>
    <release>
      <version>0.1</version>
      <date>2005-04-20</date>
      <state>stable</state>
      <notes>- first release
</notes>
    </release>
    <release>
      <version>0.2</version>
      <date>2005-07-10</date>
      <state>stable</state>
      <notes>- 0.2 update
- add manPath function
- fixed miss path of not compress man page
- fixed miss operation when array is null in find
</notes>
    </release>
    <release>
    <version>0.3</version>
    <date>2005-09-09</date>
    <license>PHP/BSD</license>
    <state>stable</state>
    <notes>- fixed null array init problem
</notes>
    </release>
    <release>
    <version>0.4</version>
    <date>2006-09-15</date>
    <license>PHP/BSD</license>
    <state>devel</state>
    <notes>- added getopt usage comment
- fixed xml syntax error
- fixed paer format
</notes>
    </release>
    <release>
    <version>0.5</version>
    <date>2007-02-19</date>
    <license>PHP/BSD</license>
    <state>devel</state>
    <notes>- rewrite with new declear
- add extended wordwrap function
</notes>
    </release>
    <release>
    <version>0.6</version>
    <date>2007-02-20</date>
    <license>PHP/BSD</license>
    <state>devel</state>
    <notes>- fixed one line result parsing error on _system function
- fixed previous garbage value problem on _system function
- add file_nr function
- add printe_f function
- add print_s function
</notes>
    </release>
    <release>
    </release>
  </changelog>
</package>
